* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*Header of the page */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #adafac;
}
/*Navigation Bar*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;

}
/*The Anchors*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*All P tags*/
p {
    font-size: 16px;
}
/*No need to put image into html, strictly background image*/
/*The color differental in the title */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*All the styling for the benefits class*/
/*Deleted all the repetitive code by using a singular class instead of multiple classes doing the same job. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*All the styling for the content class*/
/*Deleted all the repetitive code by using a singular class instead of multiple classes doing the same job. */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*All the styling for the footer class*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
    .header div {
        display: flex;
        margin: auto;
        justify-content: center;
        background-color: #0072bb;
        padding: 15px;
        border: 2em;
        border-radius: 2em;
        float: none;
    }
    .header h1 {
        display: flex;
        font-size: 48px;
        justify-content: center;
    }
    .header div ul li {
        display: flex;
        margin: auto;
        padding: 15px;
        justify-content: center;
    }
    .search-engine-optimization {
        display: flex;
        justify-content: center;
        padding: 15px;

    }
    .content {
        display: inline;
        padding: 15px;
        margin: 50px;
    }
    .search-engine-optimization img {
        display: none;
        justify-content: center;
        padding: 15px;
        float: none;
    }
    .search-engine-optimization h2{
        font-size: 24px;
        display: inline;
        justify-content: space-around;
        align-items: start;
        margin: auto;
    }
    .search-engine-optimization p{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 35px;
        margin: 25px;
    }
    .benefits {
        margin: auto;
        padding: 20px;
        float: none;
        width: 60%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1029px) {
    .header div {
        display: flex;
        margin: auto;
        justify-content: center;
        background-color: #0072bb;
        padding: 15px;
        border: 2em;
        border-radius: 2em;
        float: none;
    }
    .header h1 {
        display: flex;
        font-size: 48px;
        justify-content: center;
     }
    .header div ul li {
        display: flex;
        margin: auto;
        padding: 15px;
        justify-content: center;
        }
}

